h1 {
  color: blue;
}
img {
  width: 300px;
}
#thirdDiv {
  height: 600px;
  width: 500px;
  background: darkblue;
  padding: 50px;
  border: 10px;
  border-color: aqua;
  border-style: groove;
}
#spanId {
  font-size: 18px;
  margin: 50px;
}
